.clients{
    width: 100%;
    padding: 0.3rem;
}
.clients-heading{
    display: flex;
    justify-content: space-between;
}
.heading{
    display: flex;
}
.heading>h1{
    margin: 0;
    padding: 0;
    width: 107px;
    height: 44px;
}
.fa-arrow-up-short-wide,.fa-arrow-up-wide-short{
    margin-top: 20px;
    color:#3CC3F2;
}
.heading>p{
    color:#3CC3F2;
}
.fa-square-plus{
    margin-top: 0.8rem;
    font-size: 32px;
    color:#3CC3F2;
}