.app{
  display: grid;
  grid-template-columns:72px 1fr 3fr;
}
.profile img{
  width: 40px;
  object-fit: contain;
}
.main-header{
  display: flex;
  flex-direction:column;
}
.profile{
  display: flex;
  position: fixed;
  right:20px;
  color: black;
  z-index: 1;
}

@media screen and (max-width:680px) {
 .app{
  display: block;
  padding-top: 70px;
 }
 .profile{
  top:10px;
  color: white;
}
}